@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

 :root {
  /* font-family */
  --font-family-primary: "Work Sans", serif;
  /* colors */
  --color-black: #000000;
  --color-grey: #7B7B7B;
  --color-orange: #FF5300;
  --color-white: #FFFFFF;
}

.font-family-primary {
  font-family: var(--font-family-primary);
}

.max-w-1140 {
    max-width: 1140px !important;
}

.card-box {
    width: 100%;
    box-shadow: 0px 1px 10px 0px #0000001A;
}

.lh-24 {
    line-height: 24.72px;
}

.mt-12 {
    margin-top: 12px;
}

.mb-15 {
    margin-bottom: 15px;
}

.common-class {
    width: 40px;
    height: 40px;
    right: -50px;
    transition: all 250ms linear;
    background-color:#ffffff;
}

.svg-box-1 {
    bottom: 77%;
}

.svg-box-2 {

    bottom: 64%;
}

.svg-box-3 {
    bottom: 51%;
}

.svg-box-4 {
    bottom: 38%;
}

.svg-box-1:hover,
.svg-box-2:hover,
.svg-box-3:hover,
.svg-box-4:hover {
    background-color: #FF5300;

    path {
        fill:#ffffff;
    }
}

.card-box:hover .svg-box-1,
.card-box:hover .svg-box-2,
.card-box:hover .svg-box-3,
.card-box:hover .svg-box-4 {
    right: 0;
}